.map {
  background-image: url("/static/images/MAP.jpg");
}
@supports (
  background-image: -webkit-image-set(url("/static/images/MAP.webp") 1x)
) {
  .map {
    background-image: -webkit-image-set(url("/static/images/MAP.webp") 1x);
  }
}
