.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  place-content: center;
  place-items: center;
  width: 450px;
  height: 220px;
  margin: 0;
  padding: 0;
  perspective: 450px;
}

.icon > path {
  fill: #dedede;
}
